<div class="span2">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <% if params[:controller] == "channels" %> 
        <% if params[:action] == "show" %>
          <%= render partial: 'categories/left_navbar_content' %>
        <% else %>
          <%= render partial: 'channels/left_navbar_content' %>
        <% end %>
      <% elsif params[:controller] == "topics" && params[:action] == "show" %>
        <%= render partial: 'topics/left_navbar_content' %>      
      <% end %>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
