<div class="features-four">
  <div class="row">
    <% target.each do |topic| %>
      <div class="span6">
        <div class="f-block b-white topic-block">
          <h3><%= link_to topic.title, topic %></h3>
          <p class="links">Number of links: <%= link_to topic.links.length, topic %></p>
          <% if topic.best_link %>
            <h5>Best Link: <%= link_to topic.best_link.title, topic.best_link.link.url, title: topic.best_link.title, rel: 'tooltip' %></h5>
          <% else %>
            <p><%= link_to "Vote or Submit a link!", topic %></p>
          <% end %>
        </div>
      </div>
  <% end %>
  </div>
</div>
