<%= render partial: 'channels/top_navbar' %>

<div class="container-fluid">
  <div class="row-fluid">
    <%= render partial: 'channels/left_navbar' %>    
    <div class="span9">
      <div class="hero-unit">
        <h1>Welcome to Library</h1>
        <p>Find the bestest link EVER for any topic</p>
        <p>Choose a channel from the navigation bar on the left</p>
      </div>
    </div><!--/span-->
  </div><!--/row-->
  <hr>
</div><!--/.fluid-container-->
