<div>
  <div class="welcome">
    <h1>Welcome to Library</h1>
    <p>Find the best resources for any topic!</p>
    <p>Link your twitter account and see what your friends have to say!</p>
    <p>Choose a channel from the navigation bar on the left to get started!</p>
  </div>
</div><!--/span-->
