<%= render partial: 'shared_partials/top_navbar', locals: {target: @channel} %>

<div class="container-fluid">
  <div class="row-fluid">
    <%= render partial: 'categories/left_navbar' %>    
    <div class="span4">
        <h1>Need to create a view</h1>
    </div><!--/span-->
    <div class="span4">
        <h1>Need to create another view</h1>
    </div><!--/span-->    
  </div><!--/row-->
  <hr>
</div><!--/.fluid-container-->

