<%= render partial: 'shared_partials/top_navbar', locals: {target: @channel} %>

<div class="container-fluid">
  <div class="row-fluid">
    <%= render partial: 'categories/left_navbar' %>    
    <div class="span9">
      <div class="hero-unit">
        <h1>Test</h1>
      </div>
    </div><!--/span-->
  </div><!--/row-->
  <hr>
</div><!--/.fluid-container-->

