<div class="container-fluid">
  <div class="row-fluid">
    <%= render partial: 'shared_partials/left_navbar' %>    
    <div class="span5">
        <h1>Need to create a view</h1>
    </div><!--/span-->
    <div class="span5">
        <h1>Need to create another view</h1>
    </div><!--/span-->  
    <hr>  
  </div><!--/row-->
</div><!--/.fluid-container-->

