<div class="span2">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Topics</li><hr>
      <% target.order("title ASC").all.each do |t| %>
        <li><%= link_to t.title, topic_path(t) %></li>
      <% end %>
    </ul>
  </div><!--/.well -->
</div><!--/span-->