<div class="tasks">
  <div>
    <% if links.length > 0 %>
      <% if @topic.has_best_link? %>
        <table class="topic_links">
          <%= render partial: 'topic_links/link_list', locals: {tl: links.first} %>
        </table>
        <hr>
        <% if links.length > 1 %>
          <b>Other Links:</b>
          <table class="topic_links">
            <%= render partial: "topic_links/link_list", collection: links.shift, as: :tl%>
          </table>
        <% end %>
      <% else %>
        <hr>
        <b>All Links:</b>
        <table class="topic_links">
          <%= render partial: "topic_links/link_list", collection: links, as: :tl%>
        </table>
      <% end %>
    <% else %>
      <b> There are no links for this topic yet!</b>
    <% end %>
  </div>
</div>