<tr>
  <td>
    <p>Link: <%= link_to i.title, i.link.url, title: i.link.url, rel: 'tooltip' %></p>
    <p>Topic: <%= link_to i.topic.title, topic_path(i.topic.id) %></p>
    <p>Category: <%= link_to i.topic.category.title, category_path(i.topic.category_id) %></p>
    <hr>
  </td>
</tr>