<%= render 'submitted_topics' %>
<%= render 'submitted_links' %>



<table>
  <tr>
    <th>Topics Voted On</th>
  </tr>

<% @user.topics_voted.each do |t| %>
<tr>
  <!-- Can't figure out proper paths and how to display things right now -->
    <td><%= link_to t.title, topic_path(t)%> </td>
<% end %>
</tr>
</table>


<%= link_to 'Update Account', edit_user_path(@user) %>