/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.container-fluid{
  max-width: 1170px;
  margin-left:auto;
  margin-right: auto;
}
.navbar .nav > li > a.brand, .navbar .nav > li > a.brand:visited{
  color:#1570A6 !important; 
  font-size: 1.6em !important;
  padding: 14px 15px 16px 15px !important;
  width:auto !important;
}

.navbar-inner{
  padding: 0 0 0 0 !important;
}