// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.b-white{
  background: #fcfcfc;
  border-color: rgb(238, 238, 238);
  border-style: solid;
  border-width: 1px;
  cursor:default;
}

.b-white:hover{
  background: #DBFFE2;
}

.features-four a {
  color:#41bb19;
}

.features-four a:hover {
  color:#41bb19;
  text-decoration: underline;
}

.features-four .f-block{
  margin-right: 30px;
  padding: 20px 20px 20px 20px;
  margin-bottom: 30px;
  min-height: 220px;
}

.span5 {
  width: 25%;
  border: 2px black;
  text-align: center;
}

.features-four p.links {
  font-size: 13px;
}
