// Place all the styles related to the topic_links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.link_score, .link_info{
  padding:10px;
  margin:0;
}
.link_score{
  font-size:1.2em;
  text-align:center;
}

.link_score form{
  margin:0;
}
a{
  color:#336699;
}
a:visited{
  color:#666666;
}

p.title{
  font-size: 1.1em;
  font-weight:bold;
}
p.title a{
  color:#335a89;
  font-size:1.1em;
}
p.title a:visited{
  color:#335a89;

  font-weight:bold;
}