// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
tr.link_item:nth-child(1){
  border-top:none;
}
tr.link_item{
  border-top: 1px solid #cccccc;
}

td.link_info{
  padding-top:10px;
}
td.link_score form{
  margin:0;
}
td.link_score{
  font-size:2em;
  text-align:center;
  vertical-align: middle;
}