<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @category.title %><br/>
  <b>Topics:</b>
  <% @category.topics.each do |t| %>
  <br>
  <%= link_to(t.title, t) %>
  <% end %>
</p>




<%= link_to 'Edit', edit_category_path(@category) if has_admin_privileges? %>