<p>
  <b>Category:</b>
  <%= @category.title %><br/>
  <b>Topics:</b>
  <%= render partial: 'shared_partials/topic_list', locals: {target: @category.topics} %>
</p>




<%= link_to 'Edit', edit_category_path(@category) if has_admin_privileges? %>