<li><p class="nav-header">Categories in <%= @channel.title %> </p>
  <div class="dropdown">
    <ul class="nav nav-list">
      <%= render partial: 'layouts/left_categories_list', collection: categories, as: :c %>
    </ul>
  </div>
</li>