<h4>Most Popular Topics</h4>
<ul>
  <li>Topic 1</li>
  <li>Topic 2</li>
</ul>
<hr>
<h4>Submit Feedback</h4>
  <p>Have an idea for our app? Found a bug? <%= link_to "Let us know on our Github Issues page", "https://github.com/flatiron-school/library/issues", :target => "_blank" %></p>